<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>Остров отдыха</title>
	<script src="js/js.js"></script>
	<script src="js/form.js"></script>
	<script src="js/button.js"></script>
	<script src="js/jquery-1.12.0.js"></script>
		<script src="js/scriptc.js"></script><!-- https://webformyself.com/obratnyj-zvonok-dlya-sajta-chast-2/-->

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style_callbutton.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/style_reviews.css">
	<link rel="shortcut icon" href="img/favicon.ico" type="img/x-icon">
	<link rel="stylesheet" href="css/brandico.css" type="text/css" />
	<link rel="stylesheet" href="css/svid.css" type="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
	<meta name="description" content="Responsive Image Gallery with jQuery" />
	<meta name="keywords" content="jquery, carousel, image gallery, slider, responsive, flexible, fluid, resize, css3" />
	<meta name="author" content="Codrops" />
	<link rel="stylesheet" type="text/css" href="css/style2.css" />
	<link rel="stylesheet" type="text/css" href="css/elastislide.css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css'/>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
</head>
<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery Mask Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<div class="header">
		<ul class="header-menu">
		</ul>
	</div>
		<ul class="main-menu">
			<li><a href="index.html">Компания</a>
				<ul class="submenu"> 
					<li><a href="автотранспорт.html">Автотранспорт компании</a>
					<li><a href="контроль_качества.html">Контроль качества</a>
						<li><a href="способы_оплаты.html">Способы оплаты</a>
							
						</ul>
						<li><a href="#">Туристам</a>
						<ul class="submenu">
						<li><a href="типы_отдыха.html">Типы отдыха</a>
						<li><a href="визы_паспорта.html">Визы и паспорта</a>
						<li><a href="выдача_документов.html">Выдача документов</a>
						</ul>
							<li><a id="agencies-trigger" href="#">Поиск авиабилета</a>
							<script src="https://agent.aviakassa.org.ua/static/agencies/widget/embedding/widget.js"></script>
						<script>
    					agencies.widget.init({invoker: 'agencies-trigger', agency: 2037, state: ''});
						</script>
						</li>
						</ul>

								
													<div class="up-menu">
														<p><font color="red"<b>Уважаемые клиенты!</b></font>
														<style>
   p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
   }
  </style>
											
<p>Мы бесконечно преданы своему делу и к вопросам организации отдыха туристов подходим чрезвычайно ответственно. Приоритетной целью нашей компании является предоставление исключительно качественных услуг и забота о комфортном отдыхе наших гостей. Поэтому отдел контроля качества нашей компании готов детально рассмотреть любые Ваши обращения, позволяющие оценить нашу работу, выявить недостатки и незамедлительно принять меры по их устранению.

<p>Если Вы находитесь в этом разделе сайта, значит, Вам есть, что сказать нам.
<p>Своё обращение Вы можете оставить на  <a  href="grand-tour.html"> главной странице </a> . В кратчайшие сроки на указанный Вами адрес электронной почты будет отправлен официальный ответ.



														</p>
														</div>
										
													
													<div class="photo-tur1"> 
														<p id="photo-tur"><a>Мы находимся здесь:</a></p> 
													</div>
													<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
													<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
													<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
													<script type="text/javascript" src="js/jquery.elastislide.js"></script>
													<script type="text/javascript" src="js/gallery.js"></script>
												</div>






												<div class="api-maps"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa91d420014a2aafaf1cca6eafa49a20c6c0e4cd7bc7b76aa3954ecd83fef7e3a&amp;width=auto&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
												</div>
												</body>




													<footer>
												
														<ul class="price">
															
															<li id="price"> <a>"Цены на сайте указаны справочно. Оплата за туры производится только в белорусских рублях. Цены фиксируются на дату оплаты." </a> 
															</li>
														</ul>
<!--<div class="footer-image">
<img src="img/turop.jpg" >
</div>-->
														<div class="footer-img">
														</div>
														<ul class="footer-center">
														<img src="img/turop.jpg">
															<p><a class= "icon-vk" href="https://vk.com/gold_trawel" ></a> <a class= "icon-facebook" ></a> <a class= "icon-instagram" href="https://www.instagram.com/ostrov_otdyha_vtb/?utm_source=ig_profile_share&igshid=1pjrpt5qybng3" ></a> <a class= "icon-twitter-bird" ></a> <a class= "icon-odnoklassniki" ></a></p>			
															<button class="submit"  onclick="show('block')">Свидетельство о регистрации</button>
														</ul>
														<div class="footer-right">
															<br>

															<br>
															<a href="https://www.google.com/maps/place/проспект+Фрунзе+8,+Витебск/@55.192939,30.2123808,17z/data=!3m1!4b1!4m5!3m4!1s0x46c573fd85661b13:0xe4eea4abd0093dfd!8m2!3d55.192936!4d30.2145641">г. Витебск,пр. Фрунзе, д.8, оф. 23</a>
															<p>ООО "Остров отдыха"</p>
															<p>УНП 391390980</p>

														</div>
														<div class="footer-left">
															<br>
															<br>

															<p>Телефон для связи: <a class= "icon-call" href="tel:+375295052000" >+375295052000</a></p>
															<p>Email: <a class= "icon-mail" href="mailto:goldtrawel@gmail.com" >goldtrawel@gmail.com </a ></p>
														</div>
														<!-- Задний прозрачный фон-->
														<div onclick="show('none')" id="wrap"></div>

														<!-- Само окно-->
														<div id="window">

															<img class="img-svid" src="img/svid.jpg">

														</div>
														<div class="window_wrap">
	
	<div class="window">
		
		<div class="window_close">X</div>
		<p>Оставьте ваш номер телефона<br/>и наш консультант свяжется с вами</p>
		
		<form id="backPhone" name="backPhone">
		   <input name="telephone" type="Tel" id="telForm" placeholder="Введите номер телефона" />
		    <button id="telButton" type="submit" form="backPhone">Заказать обратный звонок</button>
		     
		</form>
		
	</div>
	
</div>


<div class="telButton anim">
	
	<div class="telButton_border"></div>
	<div class="telButton_background"><span></span></div>
	<div class="telButton_hover">Заказать<br/> звонок</div>
	
</div>

													</footer>
											
												</html>